@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 62%;
    /*border: 2px solid red;*/
}

.info-top {
    height: 2em;
    background: rgb(4,79,115);
    background: linear-gradient(90deg, rgba(4,79,115,1) 0%, rgba(16,94,186,1) 25%, rgba(89,227,255,1) 100%);
    color: #FFFFFF;
}

.header {
    background-color: white;
    height: 4em;
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixed-header {
    margin-top: 4em;
}


.header ul {
    display: flex;
    gap: 12px;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 5px;
}

.header ul li a:hover {
    background-color: #0c68d5;
    color: white;
}


.clientes-container {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
}




.slider-container {
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    margin: auto;
    overflow: hidden;
}

.slider-wrapper {
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    /*padding: 20px;*/
    /*text-align: center;*/

    position: relative;
    /*background-color: #ddd;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%) saturate(70%);
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*border: none;*/
    /*background-color: #3498db;*/
    /*color: #fff;*/
    /*padding: 10px 20px;*/
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.progress-bar {
    height: 8px;
    background: linear-gradient(90deg, rgba(4,79,115,1) 0%, rgba(16,94,186,1) 25%, rgb(89, 227, 255) 100%);
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s linear;
}

.xd {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.xd.show {
    opacity: 1;
    transform: translateY(0);
}





.clientes-slider-container {
    position: relative;
    width: 80%;
    height: 220px;
    margin: 50px auto;
    overflow: hidden;
}

.clientes-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.clientes-slide {
    flex: 0 0 25%; /* 25% de ancho para mostrar 4 slides al mismo tiempo */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 120px;
    background-repeat: no-repeat;

}

.clientes-slide img {
    width: 50%;
}

.btn-clientes {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.clientes-prev {
    left: 0;
}

.clientes-next {
    right: 0;
}



.records-container {
    padding: 48px 0;
    display: flex;
}

.records-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.records-container img {
    width: 700px;
}

.records-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}


.records-data .data-title {
    font-size: 20px;
    font-weight: 700;
    color: #4e90de;
}

.records-data .data-number {
    font-size: 80px;
    font-weight: 800;
    color: #8c8c8c;
    line-height: 85px;
}

.records-data .data-separator {
    padding: 3px 0;
    width: 60px;
    background-color: #3886e1;
}



.conocenos-portada-container {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: auto;
    overflow: hidden;
}

.quienes-somos-container {
    width: 100%;
    height: auto;
    padding: 80px 0;
}

.quienes-somos-wrapper {
    display: flex;
    align-items: center;
}

.quienes-somos-container img {
    height: 500px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}

.valores-container {
    display: flex;
    flex-direction: column;
}

.valores-header-wrapper {
}

.valores-content-wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
}









